* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COUNTER STYLING */
.counterSection {
  min-height: 100vh;
  font-size: 5rem;
  place-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counterButton {
  padding: 2rem;
  margin: 0.5rem;
}

.counterInput {
  margin-top: 2rem;
  padding: 0.5rem 0;
}
